/* 

const isALetter = (letter) => {
  returnletter.toUpperCase() !== letter.toLowerCase()
}



function steamrollArray(arr, idx = 0) {
  if (typeof arr[idx] === "number") {
    if (idx === arr.length - 1) return arr
    return steamrollArray(arr, idx + 1)
  }
  if (typeof arr[idx] === "undefined") {
    if (idx === arr.length - 1) return arr
    return steamrollArray(arr, idx + 1)
  }

  let newArr = [...arr]

  if (newArr[idx].length > 1) {
    newArr[idx].reverse().forEach((element) => {
      newArr.splice(idx, 0, element)
    })
    newArr.splice(idx + arr[idx].length, 1)


  } else {
    newArr[idx] = newArr[idx][0]

  }
  return steamrollArray(newArr)


}

console.log(
  steamrollArray([[], [4, 9], [5, [7, 1]]])
)

// console.log(
//   steamrollArray([[3, [[4]]]])
// )


// steamrollArray([1, [2], [3, [[4]]]]);

/*
  ([1, [2], [3, [[4]]]])
  ([1, 2, [3, [[4]]]])
  ([1, 2, 3, [[4]]])
  ([1, 2, 3, [4]])
*/
*/

:root {
  --tec-color: #c0963f;
  --tec-color-lighter: #caa04b;
  --primary-color: #413c3c;
  --secondary-color: #514b4b;
  --tertiary-color: #f5f5f5;
}

/* reset default browser properties */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* reset default browser properties */

html,
body {
  background-color: var(--tertiary-color);
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  position: relative;
}

.container {
  min-height: 100%;
  width: min(90%, 900px);
}

.container > * + * {
  margin-top: 6em;
}

/* navbar */

nav {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  width: 95px;
  object-fit: cover;
  object-position: 50% 50%;
  pointer-events: none;
}

.nav__text {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0 auto;
  user-select: none;
}

main {
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 2fr;
  justify-content: space-between;
  justify-items: end;
  align-items: center;
  gap: 1em;
}

main * {
  z-index: 1;
}

.main__img {
  width: 100%;
  pointer-events: none;
}

/* forms */

.form__wrapper {
  background-color: #ffffff;
  border-radius: 17px;
  padding: 2em;
  width: min(100%, 450px);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.form__wrapper > * + * {
  margin-top: 1em;
}

.form__text {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
}

.form__control {
  display: flex;
  flex-direction: column;
}

.form__control * {
  margin-top: 0.35em;
}

.form__control label {
  color: var(--secondary-color);
  font-weight: 500;
}

.form__control input {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3em 0.4em;
  border: none;
  background-color: var(--tertiary-color);
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 250ms;
}

.form__control input:focus {
  outline: none;
  border: 2px solid var(--tec-color);
  transition: all 250ms;
}

.form__button-submit {
  background-color: var(--tec-color);
  font-weight: 450;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 0.5em 0em;
  cursor: pointer;
  display: block;
  margin: 2.5em auto;
  margin-bottom: 0;
  font-size: 1.1rem;
  transition: all 200ms;
}

.form__button-submit:hover {
  transition: all 200ms;
  background-color: var(--tec-color-lighter);
}

.form__button-submit:focus {
  background-color: var(--tec-color-hover);
}

.wave {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* medias */

@media screen and (max-width: 785px) {
  /* spacing */
  .container > * + * {
    margin-top: 0.3em;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav__text {
    text-align: center;
  }

  .nav__logo {
    width: 35%;
  }
  /* spacing */
  nav > * + * {
    padding-top: 0.5em;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
  }

  .main__img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .form__wrapper {
    min-width: 100%;
  }

  .form__button-submit {
    max-width: 100%;
  }
}
