.content {
  margin-top: 3em;
}

.create {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create__text {
  border-left: 4px solid #444343;
  padding-left: 0.5em;
}

table {
  border-collapse: collapse;
  /* max-width: 100%;
  min-width: 400px; */
  /* width: min(100%, 500px); */
  width: 100%;
  margin: 1.5em 0;
  padding: 0;
  table-layout: fixed;
  border-bottom: 2px solid #2b2b2b;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table td {
  color: #2f2f2f;
  word-break: break-all;
}

table th {
  font-size: 1rem;
  font-weight: 450;
  color: white;
  background-color: #2b2b2b;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.action_buttons {
  display: flex;
  gap: 0 1em;
  justify-content: end;
}

.action_buttons * {
  cursor: pointer;
}

.edit-icon {
  color: #c3ad00;
}

.erase-icon {
  color: #c30000;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

ul {
  list-style: none;
}

.pagination {
  display: flex;
  justify-content: start;
}

.pagination > * + * {
  margin-left: 1em;
}

.btn {
  background-color: white;
  color: #2b2b2b;
  border-radius: 6px;
  padding: 0.5em 1em;
  transition: all 200ms ease;
  cursor: pointer;
  display: inline-block;
  border: 2.5px solid transparent;
}

.btn:hover {
  filter: brightness(111%);
  transition: all 200ms ease;
}

.btn-previous {
  border: 2px solid;
  background-color: transparent;
}

.btn-previous:hover {
  background-color: var(--tec-color-morelighter);
}

.btn-nuevo {
  transition: all 250ms;
  color: white;
  background-color: var(--tec-color);
}

.btn-nuevo:hover {
  transition: all 250ms;
  box-shadow: var(--nextjs-box-shadow);
}

.btn-next {
  border: 2.5px solid transparent;
  background-color: #2b2b2b;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
