:root {
  --tec-color: #c0963f;
  --tec-color-secondary: #d3af68;
  --tec-color-tertiary: #dbba78;
  --tec-color-hover: #a07d37;
  --primary-color: #2b2b2b;
  --secondary-color: #474747;
  --tertiary-color: #f5f5f5;
}

/* reset default browser properties */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* reset default browser properties */

html,
body {
  background-color: var(--tertiary-color);
  min-height: 100%;

  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  min-height: 100%;
  width: min(90%, 900px);
  z-index: 1;
}

/* spacing */

.container > * + * {
}

/* fonts */

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary-color);
}

h2 {
  font-weight: 450;
  font-size: 1.5rem;
  color: var(--primary-color);
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--primary-color);
}

h4 {
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--primary-color);
}
