:root {
  --tec-color: #c0963f;
  --primary-color: #413c3c; 
  --secondary-color: #474747;
  --tertiary-color: #f5f5f5;
}

/* reset default browser properties */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* reset default browser properties */

html,
body {
  background-color: var(--tertiary-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  min-height: 100%;
  width: min(90%, 900px);
}
/* spacing */
.container > * + * {
  position: relative;
}

/* navbar */
