.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(3, 3, 3, 0.40);
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}

.modal__content {
  position: relative;
  border-radius: 10px;
  padding: 2em;
  background-color: #ffffff;
}

.modal__button {
  display: block;
  margin-top: 1em;
  padding: 0.2em 0.5em;
}

.modal__input {
  padding: 0.2em 0.5em;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}
