.content {
  z-index: 1;
}

.content > *+* {
  margin-top: 1em;

}

.create__text {
  border-left: 4px solid #444343;
  padding-left: 0.5em;

}

.form {
  background-color: white;
  padding: 1.5em;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.form-horizontal > * + * {
  margin-top: 0.5em;
}

.form__section {
  font-size: 1.5rem;
}

.form hr {
  margin-bottom: 1.5em;
}

.form__input {
  width: 50%;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3em 0.5em;
  margin: 0.5em 0;
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(200, 200, 200);
  background-color: white;
  transition: all 250ms;
  color: black;
}

.form__input:focus {
  outline: none;
  transition: all 250mbs;
  border: 2px solid #2b2b2b;
}

.control-label {
  font-size: 1rem;
  color: rgb(65, 65, 65);
}

.btn-save {
  display: inline-block;
  font-weight: 450;
  color: #ffffff;
  border-radius: 6px;
  padding: 0.5em 1em;
  margin: 1em 0;
  border: none;
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  font-size: 0.95rem;
  transition: all 250ms;
  background-color: #2b2b2b;
}

.btn-save:hover {
  background-color: #4d4d4d;
  transition: all 250ms;
}

.goback {
  display: flex;
  align-items: center;
  gap: 0 3em;
  border-radius: 7px;
  display: inline-block;
  margin-top: 1em;
  background-color: transparent;
  padding: 0.35em 1em;
  text-decoration: none;
  color: #525252;
  margin: 0.5em 0;
  transition: all 300ms;
  background-color: var(--tec-color);
  color: white;
}

.goback:hover {
  box-shadow: 0 6px 20px rgba(200, 163, 62, 0.23);
  background-color: none;
  transition: all 300ms;
  filter: brightness(111%);
}

.goback__icon {
  padding: 0 0.5em 0 0;
}

svg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
