main > * {
  margin-top: 1.5em;
}

main h2 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.25rem;
}

main section {
  display: flex;
  align-items: center;
  gap: 1.5em;
  border-radius: 17px;
}

.table {
  background-color: gainsboro;
  height: 400px;
  width: 75%;
}

.menu {
  background-color: white;
  width: 25%;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(50, 50, 93, 0.1);
}

.menu > * + * {
  margin-top: 1em;
}

.menu p {
  cursor: pointer;
  padding: 0.5em;
  transition: all 250ms;
  font-size: 1.1rem;
}

.menu h3 {
  font-weight: 450;
  font-size: 1.5rem;
  text-align: left;
}

.menu__available {
  border-left: 5px solid #c0663f;
}

.menu__available:hover {
  transition: all 250ms;
  background-color: #ecb7a0;
}

.menu__clearance {
  border-left: 5px solid #3fc04c;
}

.menu__clearance:hover {
  transition: all 250ms;
  background-color: #a6eca0;
}
