main > * + * {
  margin-top: 1em;
}

.goback {
  display: flex;
  align-items: center;
  gap: 0 3em;
  border-radius: 7px;
  display: inline-block;
  margin-top: 1em;
  background-color: transparent;
  padding: 0.35em 1em;
  text-decoration: none;
  color: #525252;
  transition: all 300ms;
  background-color: var(--tec-color);
  color: white;
}

.goback:hover {
  background-color: none;
  transition: all 300ms;
  filter: brightness(95%);
}

.goback__icon {
  padding: 0 0.5em 0 0;
}

main section {
  display: flex;
  align-items: start;
  gap: 1.5em;
  border-radius: 17px;
}


table {
  border-collapse: collapse;
  /* max-width: 100%;
  min-width: 400px; */
  /* width: min(100%, 500px); */
  width: 100%;
  margin-top: 0;
  padding: 0;
  table-layout: fixed;
  border-bottom: 2px solid #2b2b2b;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table td {
  color: #2f2f2f;
  word-break: break-all;
}

table td:hover {
  background-color: rgb(229, 229, 229);
}

table th {
  font-size: 1rem;
  font-weight: 450;
  color: white;
  background-color: #2b2b2b;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.table-panel {
  display: flex;
  align-items: start;
}
.table-panel button {
  position: sticky;
  top: 0;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: sticky;
  top: 1em;
}

.menu__info {
  background-color: #ffffff;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(50, 50, 93, 0.1);
  border-radius: 7px;
  text-align: center;
}

.menu__info > * + * {
  margin-top: 0.5em;
}

.menu__info h4 {
  background-color: var(--tertiary-color);
}

.menu {
  background-color: white;
  width: 100%;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(50, 50, 93, 0.1);
  border-radius: 7px;
  text-align: center;
}

.menu > * + * {
  margin-top: 1em;
}

.menu span {
  display: block;
  cursor: pointer;
  padding: 0.5em;
  transition: all 250ms;
  font-size: 1.05rem;
}

.menu h3 {
  font-weight: 450;
  background-color: var(--tertiary-color);
  text-align: center;
  padding: 0.2em 0;
}

.menu__button {
  background-color: #2b2b2b;
  font-weight: 450;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 0.4em 0em;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  transition: all 250ms;
}

.menu__button:hover {
  transition: all 250ms;
  background-color: #484848;
}

.menu__button:focus {
  background-color: var(--tec-color-hover);
}

.menu__available {
  border-left: 5px solid #c0663f;
}

.menu__available:hover {
  transition: all 250ms;
  background-color: #ecb7a0;
}

.menu__clearance {
  border-left: 5px solid #3fc04c;
}

.menu__clearance:hover {
  transition: all 250ms;
  background-color: #a6eca0;
}
