main > * + * {
  margin-top: 1em;
}

.go-back {
  display: inline-flex;
  align-items: center;
  gap: 1em;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(50, 50, 93, 0.1);
  cursor: pointer;
  width: auto;
  padding: 0.7em 1.2em;
  transition: all 250ms;
}

.go-back span {
  text-decoration: underline;
}

.go-back:hover {
  background-color: var(--tec-color-tertiary);
  transition: all 250ms;
}

main section {
  display: flex;
  align-items: center;
  gap: 1.5em;
  border-radius: 17px;
}

.table {
  background-color: gainsboro;
  height: 400px;
  width: 75%;
}

.menu {
  background-color: white;
  width: 25%;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(50, 50, 93, 0.1);
}

.menu > * + * {
  margin-top: 1em;
}

.menu p {
  cursor: pointer;
  padding: 0.5em;
  transition: all 250ms;
  font-size: 1.05rem;
}

.menu h3 {
  font-weight: 450;
  background-color: var(--tertiary-color);
  text-align: center;
  padding: 0.2em 0;
}

.menu__button {
  background-color: var(--tec-color);
  font-weight: 450;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 0.4em 0em;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  transition: all 200ms;
}

.menu__button:hover {
  transition: all 200ms;
  box-shadow: 0 4px 14px 0 var(--tec-color-tertiary);
}

.menu__button:focus {
  background-color: var(--tec-color-hover);
}

.menu__available {
  border-left: 5px solid #c0663f;
}

.menu__available:hover {
  transition: all 250ms;
  background-color: #ecb7a0;
}

.menu__clearance {
  border-left: 5px solid #3fc04c;
}

.menu__clearance:hover {
  transition: all 250ms;
  background-color: #a6eca0;
}
