/* navbar */

nav {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.nav__logo {
  width: 95px;
}

.nav__text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0 auto;
  text-align: center;
}

.nav__options {
}

.nav__options > * + * {
  margin-top: 0.4em;
}

.nav__options h3 {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--primary-color);
}

.nav__options section {
  display: flex;
  align-items: center;
  color: #c72828;
  cursor: pointer;
}

.nav__options section > * + * {
  margin-left: 0.5em;
  text-decoration: underline;
}

.nav__options > .logoutIcon {
  width: 60px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 0;
  gap: 1em;
}


.card {
  background-color: white;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 200ms;
}

.card:hover {
  border: 2px solid #3f3d56;
  transition: all 200ms;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.card__text_wrapper {
  background-color: #14be39;
  padding: 0.5em 2em;
}

.card p {
  color: white;
  font-weight: 450;
  font-size: 1.15rem;
}

.card__img {
  padding: 1em;
  width: 180px;
}

/* main */

main {
  margin-top: 2.5em;
}

main h2 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.25rem;
}

@media screen and (max-width: 757px) {
  nav {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  nav > * + * {
    margin-top: 1em;
  }

  .nav__options {
    color: var(--secondary-color);
  }
}
