.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em 0;
  gap: 1em;
}

.card {
  background-color: white;
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 0 2px 10px rgba(50, 50, 93, 0.1);
}

.card:hover {
  transition: all 200ms;
  box-shadow: 0 0 35px -2px rgba(0,0,0,.2);
}

.card__text_wrapper {
  background-color: #14be39;
  padding: 0.5em 2em;
  margin: 0;
  width: 100%;
}

.card p {
  color: white;
  font-size: 1.1rem;
}

.card__img {
  padding: 1em;
  width: 180px;
}

.section-text-wrapper {
  display: flex;
  align-items: center;
}

.section-text-wrapper > * + *{
  margin-left: 0.5em;
}

.section-text-wrapper i {
  color: var(--secondary-color);
}

/* main */

main {
  margin-top: 2.5em;
}

main h2 {
  display: inline-block;
}